torch==2.13.0
torchvision==0.28.0
transformers==4.36.0
pillow==10.1.0

marimo==0.23.16
jupyter==1.1.1

polars==1.32.2
pandas==2.3.1
fastexcel==0.14.0

jupyter==1.1.1

datetime==5.5

matplotlib==3.10.5
seaborn==0.13.2